.horizontal{
display: flex;
background-color: rgb(141, 98, 29);
list-style-type: none;
}
hr{
    height: 2px;
    background-color: black;
}
.vertical{
list-style-type: none;
width: 100px;

}

.verde{
    
    background-color: rgb(17, 162, 12);
}

.rojo{
    background-color: rgb(221, 7, 10);
}

li{
    padding:  20px;
}

a{
    text-decoration: none;
    color: white;
}